{% extends "bootstrap/base.html" %}
{% block title %}Expert Network {{title}} at {{name|safe}}{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  {% if "page" not in return_dict %}
    {% set page = 1 %}
  {% else %}
    {% set page = return_dict["page"]%}
  {% endif %}
  {% if "pagesize" not in return_dict %}
    {% set pagesize = 15 %}
  {% else %}
    {% set pagesize = return_dict["pagesize"]%}
  {% endif %}
<h1>Expert Network - <a href="sites">Stack Exchange</a> {{title}} at {{name|safe}}</h1>
<div class="container-fluid">
    {% if return_dict is defined and "items" in return_dict%}
  <table class="table table-hover">
  <thead>
    <tr class="d-flex">
      <th class="col-sm-1" scope="col">Rank</th>
      <th class="col-sm-4" scope="col">Expert</th>
      <th class="col-sm-7" scope="col">Reputation</th>
    </tr>
  </thead>
  <tbody>
      {% set inc=1 %}
      {% for expert in return_dict["items"] %}
      <tr class="d-flex">
      <td class="col-sm-1" scope="row">{{loop.index + ((page-1)*pagesize)}}</td>
      <td class="col-sm-4"><a href="{{expert["link"]}}">{{expert["name"]|safe}}</a></td>
      <td class="col-sm-7"><a href="user_tags/{{expert["site"]}}">{{expert["reputation"]}}</a></td>
      </tr>
      {% endfor %}
  </tbody>
  </table>
<row>
    <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item {% if page == 1 %} disabled{% endif %}"><a class="page-link" href="users_rep?page={{page-1}}&pagesize={{pagesize}}"><span class="page-link">Previous</span></a></li>
    <li class="page-item active">
      <span class="page-link">
        <a class="page-link" href="users_rep?page={{page}}&pagesize={{pagesize}}">{{page}}</a>
        <span class="sr-only">(current)</span>
      </span>
    </li>
    {% if "has_more" in return_dict%}
    <li class="page-item {% if return_dict["has_more"] == False %} disabled{% endif %}">
      <span class="page-link">
        <a class="page-link" href="users_rep?page={{page+1}}&pagesize={{pagesize}}">Next</a>
      </span>
    </li>
    {% endif %}
  </ul>
</nav>
</row>
    {% endif %}
<row>
  <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Raw
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    {{return_dict}}
  </div>
</div>
</row>
</div>
{% endblock %}